#logo {
    width: 70px;
    margin-left: 15px;
    float: left;
    display: inline-block;
    margin-top: 17px;
}

.container {
    position:relative;
    padding:0 0 0 25px;
}

#container {
    width: 100%;
}

.header {
    background-color: #6441a5;
    margin-top: -20px;
    margin-bottom: 10px;
    max-width: 100%;
    height: 85px;
    -webkit-box-shadow: 0px 3px 5px #000;
    -moz-box-shadow:    0px 3px 5px #000;
    box-shadow:         0px 3px 5px #000;
    overflow: hidden;
}

a {
    color: #6441a5;
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(20, 20, 20);
}

h1 {
    color: white;
    padding-top: 20px;
    margin-left: 15px;
    font-size: 26px;
    font-family: arial;
    display: inline-block;
}

#main {
    display: inline;
    float: left;
    overflow: hidden;
    width: 720px;
    padding-top: 5px;
}

#player {
    vertical-align: middle;
    //width: 720px;
    //height: 400px;
    width: 250px;
    height: 250px;
    float: left;
    display: block;
}

option:hover {
    background-color:#cd201f;
    cursor: pointer;
}

#selected {
    background-color: #000;
    padding: 5px;
}

.button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#songlist {
    display: inline;
    float: left;
    overflow: hidden;
    width: 100%;
    padding-top: 10px;
}

#playlist {
    display: inline;
    float: left;
    overflow: hidden;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#copyright {
    display: inline;
    float: left;
    width: 100%;
    background-color: rgb(34, 34, 34);
    color: grey;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

#playerLink {
    color: #ffffff;
    text-decoration: none;
}

#currentSong {
    color: #ffffff;
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 18px;
}

.currentSong-small {
    color: #ffffff;
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 16px;
}

table {
    border: 0px;
    width: 100%;
}

#songTable tr:nth-child(even) {
    background: #CCC;
    color: black;
    font-size: 14px;
}

#songTable tr:nth-child(odd) {
    background: #FFF;
    color: black;
    font-size: 14px;
}

#songTable td {
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}

#songTable th {
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}

#playerTable tr {
    background: #6441a5;
    color: white;
    font-size: 18px;
}

#playerTable td {
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}

#songTableTitle {
    background: #7451b5;
    color: white;
    font-size:14px;
    width: 100%;
    padding: 5px;
}

#playlistTableTitle {
    background: #7451b5;
    color: white;
    font-size:14px;
    width: 100%;
    padding: 5px;
}

#playlistTable tr:nth-child(even) {
    background: #CCC;
    color: black;
    font-size: 14px;
}

#playlistTable tr:nth-child(odd) {
    background: #FFF;
    color: black;
    font-size: 14px;
}

#playlistTable td {
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}

#playlistTable th {
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}

#songProgressBar {
    width: 250px;
}

#volumeControl {
    width: 150px;
}

.controlTable {
    margin-top: 20px;
    width: 300px;
}
.controlTable td {
    padding: 1px;
    text-align: left;
    vertical-align: midle;
}

.ui-slider .ui-slider-handle { 
    width: 10px;
    margin-left: -5px;
    height: 10px;
    margin-top: 5px;
}

.alert {
    float: left;
    width: 80%;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
}

