/* CSS that always load even with a dark/light theme. */

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f2f2f2;
    border-radius: 50%;
    border-top: 16px solid #6441A4;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.resize-drag {
    background-color: #29e;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 8px;
    padding: 20px;
    margin: 30px 20px;
    touch-action: none;

    width: 120px;

    /* This makes things *much* easier */
    box-sizing: border-box;
}

.resize-container {
    display: inline-block;
    width: 100%;
    height: 240px;
}

#stream-game {
    border-radius: 0;
}

.easy-autocomplete,
.easy-autocomplete input {
    width: 100% !important;
    box-shadow: none !important;
}

.easy-autocomplete-container ul {
    max-height: 130px;
    border-color-bottom: #000;
    overflow-y: scroll;
    overflow-x: hidden;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

select {
    cursor: pointer;
}

/* Auto cut long text */
.auto-cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
