#logo {
    width: 70px;
    margin-left: 15px;
    float: left;
    display: inline-block;
    margin-top: 17px;
}

.container {
    position:relative;
    padding:0 0 0 25px;
}

#container {
    width: 100%;
}

.header {
    background-color: #6441a5;
    margin-top: -20px;
    margin-bottom: 10px;
    max-width: 100%;
    height: 85px;
    -webkit-box-shadow: 0px 3px 5px #000;
    -moz-box-shadow:    0px 3px 5px #000;
    box-shadow:         0px 3px 5px #000;
    overflow: hidden;
}

#header-right {
    color: white;
    margin-top: 40px;
    margin-right: 20px;
    height: 85px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    float: right;
}

a {
    color: #6441a5;
    text-decoration: none;
}

body {
    font-family: "Roboto", arial;
    color: #aaaaaa;
    padding: 0;
    margin: 0;
    background: rgb(28, 28, 36);
}

.textList {
    font-family: "Roboto", arial;
}

pre {
    border-color: #666666;
    color: #dddddd;
    background-color: rgba(20, 20, 20, 0.5);
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

h1 {
    color: white;
    padding-top: 20px;
    margin-left: 15px;
    font-size: 26px;
    font-family: "Roboto", arial;
    display: inline-block;
}

option:hover {
    background-color:#cd201f;
    cursor: pointer;
}

table {
    border: 0px;
    width: 100%;
}
tr:nth-child(even) {
    font-family: "Roboto", Sans-serif;
    background: rgba(30, 30, 30, 0.3);
    color: #aaaaaa;
    font-size: 14px;
}
tr:nth-child(odd) {
    font-family: "Roboto", Sans-serif;
    background: rgba(0, 0, 0, 0.3);
    color: #aaaaaa;
    font-size: 14px;
}
th {
    padding: 4px;
}
td {
    padding: 4px;
}

.panelStatus {
    border: 0px;
    width: 800px;
    margin-bottom: 10px;
    background: rgb(28, 28, 36);
}
.panelStatus tr {
    background: transparent;
}
.panelStatus td {
    vertical-align: middle;
    text-align: center;
    width: 35px;
    padding: 2px;
}

#selected {
    background-color: #000;
    padding: 5px;
}

.button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#copyright {
    font-family: "Roboto", arial;
    display: inline;
    float: left;
    width: 100%;
    background-color: rgb(24, 24, 24);
    color: grey;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0;
}

.soundButton {
    font-family: "Roboto", arial;
    display: block;
    float: left;
    margin: 5px 5px 5px 5px;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: rgba(153, 50, 204, 0.5);
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: #cccccc;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.soundButton:hover {
    font-color: #eeeeee;
    color: #eeeeee;
    background: rgba(183, 80, 234, 0.5) !important;
    border: none !important;
    outline: none !important;
}

.yellowPill {
    font-family: "Roboto", arial;
    display: inline;
    background-color: rgb(255, 235, 0);
    color: black;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.purplePill {
    font-family: "Roboto", arial;
    display: inline;
    background-color: rgb(100, 66, 166);
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.redPill {
    font-family: "Roboto", arial;
    display: inline;
    background-color: #990000;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.greenPill {
    font-family: "Roboto", arial;
    display: inline;
    background-color: green;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.bluePill {
    font-family: "Roboto", arial;
    display: inline;
    background-color: blue;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.purplePill-sm {
    font-family: "Roboto", arial;
    font-size: 70%;
    display: inline;
    background-color: rgb(100, 66, 166);
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.redPill-sm {
    font-family: "Roboto", arial;
    font-size: 70%;
    display: inline;
    background-color: #990000;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.greenPill-sm {
    font-family: "Roboto", arial;
    font-size: 70%;
    display: inline;
    background-color: green;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.bluePill-sm {
    font-family: "Roboto", arial;
    font-size: 70%;
    display: inline;
    background-color: blue;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#panelLoader {
    font-family: "Roboto", arial;
    font-size: 150%;
    position: absolute;
    top: 150px;
    left: 150px;
    bottom: 0;
    height: 425px;
    width: 325px;
    text-align: center;
    vertical-align: middle;
}
    
#iframeLoader {
    font-family: "Roboto", arial;
    position: absolute;
    top: 150px;
    right: 10px;
    bottom: 0;
    height: 425px;
    width: 325px;
    text-align: center;
    vertical-align: middle;
}
#chatsidebar {
    position: absolute;
    top: 82px;
    right: 10px;
    bottom: 0;
    height: 650px;
    width: 360px;
    border: none !important;
    outline: none !important;
    background: transparent;
}
#chat {
    height: 95%;
    width: 100%;
}
#chatsidebar-header {
    margin: 0;
    text-align: right;
    padding-right: 5px;
    background: rgb(36, 36, 36);
    color: rgb(100, 66, 166);
}

#youTubePlayerIframe {
    margin-top: 5px;
    border: none !important;
    outline: none !important;
}

/* Bootstrap and JQuery Section */

.ui-slider .ui-slider-handle { 
    visibility: hidden;
}

.alert-danger {
    clear: left;
    position: fixed;
    right: 15px;
    top: 14px;
    height: 40px;
    width: 60%;
    text-align: center;
    background-color: red;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.alert-success {
    clear: left;
    position: fixed;
    right: 15px;
    top: 14px;
    height: 40px;
    width: 60%;
    text-align: center;
    background-color: white;
    color: #6441a5;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.alert-info {
    clear: left;
    position: fixed;
    right: 15px;
    top: 14px;
    height: 40px;
    width: 60%;
    text-align: center;
    background-color: #add8e6;
    color: #6441a5;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-dialog {
    background-color: #444444;
    color: #dddddd;
}

#tabs {
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
}
.tab-pane {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    font-family: "Roboto", arial;
    color: #cccccc;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.ui-state-focus {
    outline: none;
}
.ui-tabs-vertical { 
    width: 55em;
}
.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 12em;
    border-style: none;
    background: none;
}
.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 1px !important;
    margin: 0 -1px .2em 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: rgb(28, 28, 36);
}
.ui-tabs-vertical .ui-tabs-nav li a {
    display:block;
    background: none;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 1px !important;
    margin: 0 -1px .2em 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #6136b1;
}
.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: left;
    width: 55em;
}
.ui-tabs-vertical .ui-tabs-nav .ui-state-hover, .ui-state-focus {
    border-color: #6136b1;
    background: rgb(56, 56, 56);
}
.ui-tabs-anchor:active, .ui-tabs-anchor:focus {
    outline:none;
    background: rgb(28, 28, 36);
}

.ui-draggable .ui-dialog-titlebar {
    background: transparent;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.ui-widget-content {
        border: 1px solid #6136b1;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #444444;
    background: rgb(28, 28, 36);
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #6136b1;
    background: rgb(36, 36, 36);
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #6136b1;
    background: #6136b1;
}
.ui-widget-header .ui-state-error {
    background: #ffc73d;
}

.tooltip-inner {
    background-color: #444488;
    color: #eee;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #444488;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #444488;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #444488;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #444488;
}

input, textarea {
    background-color: rgba(50, 50, 50, 0.3) !important;
    color: #aaaaaa !important;
}

/* Buttons */

/* Default Button Class */

.btn {
    font-family: "Roboto", arial;
    font-color: #cccccc;
    color: #cccccc;
    background: rgba(100, 100, 100, 0.5) !important;
    border: none !important;
    outline: none !important;
    margin: 0px 2px 0px 2px;
}

.btn:hover {
    font-color: #eeeeee;
    color: #eeeeee;
    background: rgba(150, 150, 150, 0.5) !important;
    border: none !important;
    outline: none !important;
}

.btn:active, .btn.active {
    font-color: #cccccc;
    color: #cccccc;
    background: rgba(100, 100, 100, 0.5) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn.active.focus, .btn.active:focus, .btn.focus,
.btn:active.focus, .btn:active:focus, .btn:focus {
    font-color: #cccccc;
    color: #cccccc;
    background: rgba(100, 100, 100, 0.5) !important;
    border: none !important;
    outline: none !important;
}

/* Bootstrap Primary Button */

.btn-primary {
    background: rgba(100, 100, 100, 0.5) !important;
    border: none !important;
    outline: none !important;
}

.btn-primary:hover {
    background: rgba(150, 150, 150, 0.5) !important;
    border: none !important;
    outline: none !important;
}

.btn-primary:active, .btn-primary.active {
    background: rgba(100, 100, 100, 0.5) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.focus,
.btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:focus {
    background: rgba(100, 100, 100, 0.5) !important;
    border: none !important;
    outline: none !important;
}

/* Bootstrap Default Button */

.btn-default {
    background: rgba(100, 100, 100, 0.5) !important;
    border: none !important;
    outline: none !important;
}

.btn-default:hover {
    background: rgba(150, 150, 150, 0.5) !important;
    border: none !important;
    outline: none !important;
}

.btn-default:active, .btn-default.active {
    background: rgba(100, 100, 100, 0.5) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.focus,
.btn-default:active.focus, .btn-default:active:focus, .btn-default:focus {
    background: rgba(100, 100, 100, 0.5) !important;
    border: none !important;
    outline: none !important;
}

/* Bootstrap Warning Button */

.btn-warning {
    background: rgba(240, 229, 14, 1) !important;
    color: #696969;
    border: none !important;
    outline: none !important;
}

.btn-alert {
    background: rgba(153, 0, 0, 1) !important;
    color: #d3d3d3;
    border: none !important;
    outline: none !important;
}

.btn-warning:hover {
    background: rgba(255, 100, 0, 0.5) !important;
    border: none !important;
    outline: none !important;
}

.btn-warning:active, .btn-warning.active {
    background: rgba(255, 69, 0, 0.5) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.focus,
.btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:focus {
    background: rgba(255, 69, 0, 0.5) !important;
    border: none !important;
    outline: none !important;
}

/* Bootstrap Success Button */

.btn-success {
    background: rgba(0, 255, 0, 0.5) !important;
    border: none !important;
    outline: none !important;
}

.btn-success:hover {
    background: rgba(20, 255, 20, 0.5) !important;
    border: none !important;
    outline: none !important;
}

.btn-success:active, .btn-success.active {
    background: rgba(0, 255, 0, 0.5) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.focus,
.btn-success:active.focus, .btn-success:active:focus, .btn-success:focus {
    background: rgba(0, 255, 0, 0.5) !important;
    border: none !important;
    outline: none !important;
}

/* Bootstrap Danger Button */

.btn-danger {
    background: rgba(255, 0, 0, 0.5) !important;
    border: none !important;
    outline: none !important;
}

.btn-danger:hover {
    background: rgba(255, 20, 20, 0.5) !important;
    border: none !important;
    outline: none !important;
}

.btn-danger:active, .btn-danger.active {
    background: rgba(255, 0, 0, 0.5) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.focus,
.btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:focus {
    background: rgba(255, 0, 0, 0.5) !important;
    border: none !important;
    outline: none !important;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 20px;
} 

/* Overrides for FooTable */
.footable .pagination > li > a,
.footable .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: grey;
    text-decoration: none;
    background-color: #000;
    border: 1px solid;
    border-color: grey;
}
.footable .pagination > li > a:hover,
.footable .pagination > li > span:hover,
.footable .pagination > li > a:focus,
.footable .pagination > li > span:focus {
    color: rgb(100, 66, 166);
    background-color: #eee;
    border-color: grey;
}
.footable .pagination > .active > a,
.footable .pagination > .active > span,
.footable .pagination > .active > a:hover,
.footable .pagination > .active > span:hover,
.footable .pagination > .active > a:focus,
.footable .pagination > .active > span:focus {
    z-index: 2;
    color: #eee;
    cursor: default;
    background-color: rgb(100, 66, 166);
    border-color: grey;
}
.footable .pagination > .disabled > span,
.footable .pagination > .disabled > span:hover,
.footable .pagination > .disabled > span:focus,
.footable .pagination > .disabled > a,
.footable .pagination > .disabled > a:hover,
.footable .pagination > .disabled > a:focus {
    color: grey;
    cursor: not-allowed;
    background-color: #000;
    border-color: grey;
}

