# Windows image file caches
Thumbs.db
ehthumbs.db

# Manifest created by build
MANIFEST.MF

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bin/
.vscode/

# Files created by the bot inside resources folder
resources/bannedUsers.bin
resources/botlogin.txt
resources/phantombot.db
resources/stacktrace.txt
resources/stdio.txt
resources/web/default.html
resources/web/default.txt
resources/scripts/*

# Do not include the class files for GenerateTwitterTokens
genTwitterTokens/classes/generatetwittertokens

# IntelliJ Project files
dist/
build/
out/
.idea
*.iml

# Netbeans Project files
nbproject/

# Eclipse Project files
.settings/
.classpath
.project

# Libs downloaded from Maven
lib/

# Allow java-runtime files
!resources/java-runtime*/*
