#logo {
    width: 70px;
    margin-left: 15px;
    float: left;
    display: inline-block;
    margin-top: 17px;
}
.container { position:relative; padding:0 0 0 55px; }



.header {
    background-color: #6441a5;
    margin-top: -20px;
    margin-bottom: 10px;
    max-width: 100%;
    height: 85px;
    -webkit-box-shadow: 0px 3px 5px #000;
    -moz-box-shadow:    0px 3px 5px #000;
    box-shadow:         0px 3px 5px #000;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(20, 20, 20);
}

h1 {
    color: white;
    padding-top: 20px;
    margin-left: 15px;
    font-size: 26px;
    font-family: arial;
    display: inline-block;
}

#container {
    width: 100%;
}


#main {
    display: inline;
    float: left;
    overflow: hidden;
    width: 720px;
    padding-top: 5px;
}

#player {

    vertical-align: top;
    width: 720px;
    float: left;
    display: block;
}
#rightcontain {
    display: inline;
    width: 350px;
    float: left;
    vertical-align: top;
    padding-left: 5px;
}

.selectbox {
    background-color: rgb(34, 34, 34);
    color: #fff;
    width: 350px;
    height: 200px;
    font-size: 18px;
    overflow:hidden;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
}

option:hover {
    background-color:#cd201f;
    cursor: pointer;
}
#selected {
    background-color: #000;
    padding: 5px;
}
#panel {
    margin-left: -7px;
}

.button {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #b31217;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 2px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    font-family: normal normal normal 13.3333330154419px/normal Arial;
    background-color: #cd201f;
    display: inline-block;
    -webkit-box-shadow: 0px 3px 5px #000;
    -moz-box-shadow:    0px 3px 5px #000;
    box-shadow:         0px 3px 5px #000;
}
.button:hover {
    background-color: #b31217;
}
#copyright {
    display: block;
    padding-top: 10px;
    padding-bottom: 2px;
    bottom: 0;
    height: 3%;
    width: 100%;
    background-color: rgb(34, 34, 34);
    position: fixed;
    text-align: center;
    color: gray;
}


#sidebar1 {
    position: fixed;
    width: 350px;
    right: 0%;
    background-color: #f2f2f2;
    height: 94%;
    border-left: solid;
    border-color: #6441a5;
    border-width: 1px;
    display: inline-block;
    z-index: 2;
}
a {
    color: #6441a5;
    text-decoration: none;
}
#chat {
    height: 86%;
    width: 100%;
    margin-top: -5px;
}