.alert-gray {
	background-color: #4b4b4b;
}

.alert-btn-white {
	color: white;
}

#settings {
	margin-bottom: 35px;
}

#save-div {
	position: fixed !important;
	bottom: 10px !important;
	width: 100% !important;
}

#save-button {
	display: inline-block !important;
	width: auto !important;
}