<!-- This is outside of the accordion, so will always be on top of the tab -->

<div>
    <!-- Each ID maps to a $("#ID").html() to update the contents. -->
    <span id="streamOnline" />
    <span id="streamUptime" />
    <span id="viewerCount" />
</div>
<br>

<!-- Accordion object.  Each section is separated by an <h3 /> header and the content is to be enclosed in <div />.  -->
<div id="dashboardAccordion">
    <h3>Twitch</h3>
    <div>
        <form role="form">
            <div class="form-group" onkeypress="return event.keyCode != 13">
                <label for="streamTitle">Stream Title</label>
                <button type="button" class="btn btn-primary inline pull-right" onclick="$.setStreamTitle()">Update</button>
                <input type="text" class="form-control" id="streamTitleInput" placeholder="Stream Title" />
            </div>
        </form>
        <br>
        
        <form role="form">
            <div class="form-group" onkeypress="return event.keyCode != 13">
                <label for="gameTitle">Game Title</label>
                <button type="button" class="btn btn-primary inline pull-right" onclick="$.setGameTitle()">Update</button>
                <input type="text" class="form-control" id="gameTitleInput" placeholder="Game Title" />
            </div>
        </form>

        <button type="button" class="btn btn-warning inline pull-left" onclick="$.chatReconnect()">Reconnect to Twitch Chat</button>
    </div>

    <h3>Chat Statistics</h3>
    <div>
        <div>
            <span id="chatDate-0" />
            <span id="chatCount-0" />
            <span id="modCount-0" />
        </div>
        <br>
        <div>
            <span id="chatDate-1" />
            <span id="chatCount-1" />
            <span id="modCount-1" />
        </div>
        <br>
        <div>
            <span id="chatDate-2" />
            <span id="chatCount-2" />
            <span id="modCount-2" />
         </div>
        <br>
         <div>
            <span id="chatDate-3" />
            <span id="chatCount-3" />
            <span id="modCount-3" />
        </div>
        <br>
        <div>
            <span id="chatDate-4" />
            <span id="chatCount-4" />
            <span id="modCount-4" />
        </div>
    </div>

    <h3>Highlights</h3>
    <div>
        Make a note of an event in the broadcast to make creating highlights in Twitch easier later.
        <br><br>
        <form role="form">
             <div class="form-group" onkeypress="return event.keyCode != 13">
                <label for="highlight">Create Highlight</label>
                <button type="button" class="btn btn-primary pull-right" onclick="$.setHighlight()">Submit</button>
                <input type="text" class="form-control" id="highlightInput" placeholder="Game Highlight" />
            </div>
        </form>
        <br>
        
        <button type="button" class="btn btn-danger pull-right" onclick="$.clearHighlights()">Clear Highlights</button>
        <strong>Current Highlights</strong><br>
        <span id="showHighlights" />
    </div>

    <h3>Multi-Link</h3>
    <div>
        Multi-Link provides a link to share multiple Twitch channels in one UI.
        Great for races or other competititions. Provide a space delimited list of channels.
        Set a timer to let chat know on a regular basis that the Multi-Link is on.
        <br><br>
        <form role="form">
             <div class="form-group" onkeypress="return event.keyCode != 13">
                <label for="multi-link">Set Multi-Link Channels</label>
                <button type="button" class="btn btn-primary pull-right" onclick="$.setMultiLink()">Submit</button>
                <input type="text" class="form-control" id="multiLinkInput" placeholder="Channel_1 Channel_2 Channel_3" />
            </div>
        </form>

        <form role="form">
             <div class="form-group" onkeypress="return event.keyCode != 13">
                <label for="multi-link">Timer Interval</label>
                <button type="button" class="btn btn-primary pull-right" onclick="$.setMultiLinkTimer()">Submit</button>
                <input type="text" class="form-control" id="multiLinkTimerInput" placeholder="Minutes" />
            </div>
        </form>
        <button type="button" class="btn btn-danger" onclick="$.clearMultiLink()">Clear Multi-Link</button>
        <button type="button" class="btn btn-success" onclick="$.multiLinkTimerOn()">Multi-Link Timer On</button>
        <button type="button" class="btn btn-danger" onclick="$.multiLinkTimerOff()">Multi-Link Timer Off</button>
    </div>
</div>

<!-- Run the Acordion -->
<script>$("#dashboardAccordion").accordion( { clearStyle: true, heightStyle: "panel" } );</script>
