<!-- This is outside of the accordion, so will always be on top of the tab -->

<!-- Accordion object.  Each section is separated by an <h3 /> header and the content is to be enclosed in <div />.  -->
<div id="helpAccordion">
    <h3>Version</h3>
    <div>
        <div id="botVersion" />
    </div>

    <h3>Support Sites</h3>
    <div>
        <strong>Need support? Reach out to the PhantomBot team at the following locations.</strong><br><br>

        <i class="fa fa-external-link" />
        <a target="_blank" href="https://community.phantombot.net/">PhantomBot Community Forums</a><br>

        <i class="fa fa-twitter" />
        <a target="_blank" href="https://twitter.com/PhantomBotApp">Twitter</a><br>

        <br>
        <strong>Looking for extra information?</strong><br><br>
        <i class="fa fa-external-link" />
        <a target="_blank" href="https://phantombot.net/">PhantomBot Information</a><br>
        
        <i class="fa fa-external-link" />
        <a target="_blank" href="https://phantombot.net/commands/">PhantomBot Command List</a><br>

        <i class="fa fa-external-link" />
        <a target="_blank" href="https://phantombot.net/twitchalerts/">Connect to TwitchAlerts</a><br>

    </div>
</div>

<!-- Run the Acordion -->
<script>$("#helpAccordion").accordion( { clearStyle: true, heightStyle: "panel" } );</script>
