<!-- This is outside of the accordion, so will always be on top of the tab -->

<!-- Accordion object.  Each section is separated by an <h3 /> header and the content is to be enclosed in <div />.  -->
<div id="modulesAccordion">
    <h3>Modules</h3>
    <div>
        <div id="modulesList" style="height: 400px; overflow: auto;" />
    </div>
</div>

<!-- Run the Acordion -->
<script>$("#modulesAccordion").accordion( { clearStyle: true, heightStyle: "panel" } );</script>
