name: Java CI
on:
  push:
    branches:
      - '*'
      - '!edge'
  pull_request:
    branches:
      - '*'
      - '!edge'
jobs:
  buildtest:
    name: Test Build on ${{ matrix.os }} with JDK 11.0.4
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v1
    - name: Set up JDK 11.0.4
      uses: actions/setup-java@v1
      with:
        java-version: 11.0.4
    - name: Set up Ant (Linux)
      run: sudo apt-get install ant
      if: startsWith(matrix.os, 'ubuntu-')
    - name: Set up Ant (Windows)
      run: choco install ant
      if: startsWith(matrix.os, 'windows-')
    - name: Set up Ant (macOS)
      run: |
        wget https://raw.githubusercontent.com/Homebrew/homebrew-core/master/Formula/ant.rb
        sed -i '' -e 's/www.apache.org\/dyn\/closer.cgi?path=/archive.apache.org\/dist\//g' ant.rb
        chmod +x ant.rb
        brew install ./ant.rb
        rm -f ant.rb
      if: startsWith(matrix.os, 'macOS-')
    - name: Build with Ant
      run: ant -noinput -buildfile build.xml test
