name: Build/Upload Release
on:
  release:
    types: [published]
jobs:
  buildtest:
    name: Test Build on ${{ matrix.os }} with JDK 11.0.4
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up JDK 11.0.4
      uses: actions/setup-java@v1
      with:
        java-version: 11.0.4
    - name: Set up Ant (Linux)
      run: sudo apt-get install ant
      if: startsWith(matrix.os, 'ubuntu-')
    - name: Set up Ant (Windows)
      run: choco install ant
      if: startsWith(matrix.os, 'windows-')
    - name: Set up Ant (macOS)
      run: |
        wget https://raw.githubusercontent.com/Homebrew/homebrew-core/master/Formula/ant.rb
        sed -i '' -e 's/www.apache.org\/dyn\/closer.cgi?path=/archive.apache.org\/dist\//g' ant.rb
        chmod +x ant.rb
        brew install ./ant.rb
        rm -f ant.rb
      if: startsWith(matrix.os, 'macOS-')
    - name: Build with Ant
      run: ant -noinput -buildfile build.xml test
  build:
    name: Build and upload on ubuntu-latest with JDK 11.0.4
    runs-on: ubuntu-latest
    needs: buildtest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up JDK 11.0.4
      uses: actions/setup-java@v1
      with:
        java-version: 11.0.4
    - name: Set up Ant
      run: sudo apt-get install ant
    - name: Set up environment variables
      id: build_env
      run: |
        echo "##[set-output name=branch;]$(echo ${GITHUB_REF:10})"
        echo "##[set-output name=version;]$(echo ${GITHUB_REF:11})"
        echo "##[set-output name=revision;]$(echo ${GITHUB_SHA:0:7})"
    - name: Prep Ant script
      env:
        BRANCH: ${{ steps.build_env.outputs.branch }}
        REVISION: ${{ steps.build_env.outputs.revision }}
      run: |
        sed -i -r 's/revision="[A-Za-z0-9._-]+"/revision="'$REVISION'"/;s/branch="[A-Za-z0-9._-]+"/branch="'$BRANCH'"/' ivy.xml
        echo $?
    - name: Build with Ant
      run: ant -noinput -Dbuildtype=stable -buildfile build.xml jar
    - name: Prep Assets
      env:
        FOLDERFULL: ${{ format('PhantomBot-{0}', steps.build_env.outputs.version) }}
        FOLDERLIN: ${{ format('PhantomBot-{0}-lin', steps.build_env.outputs.version) }}
        FOLDERWIN: ${{ format('PhantomBot-{0}-win', steps.build_env.outputs.version) }}
        FOLDERMAC: ${{ format('PhantomBot-{0}-mac', steps.build_env.outputs.version) }}
        FOLDERARM: ${{ format('PhantomBot-{0}-arm', steps.build_env.outputs.version) }}
      run: |
        mkdir dist/$FOLDERLIN
        rsync -rav --progress dist/$FOLDERFULL dist/$FOLDERLIN --exclude java-runtime --exclude java-runtime-macos --exclude launch.bat
        mkdir dist/$FOLDERWIN
        rsync -rav --progress dist/$FOLDERFULL dist/$FOLDERWIN --exclude java-runtime-linux --exclude java-runtime-macos --exclude launch.sh --exclude launch-service.sh
        mkdir dist/$FOLDERMAC
        rsync -rav --progress dist/$FOLDERFULL dist/$FOLDERMAC --exclude java-runtime-linux --exclude java-runtime --exclude launch.bat
        mkdir dist/$FOLDERARM
        rsync -rav --progress dist/$FOLDERFULL dist/$FOLDERARM --exclude java-runtime-linux --exclude java-runtime --exclude java-runtime-macos --exclude launch.bat
        cd dist
        zip -m -9 -X -r $FOLDERFULL $FOLDERFULL
        mv $FOLDERLIN $FOLDERFULL
        zip -m -9 -X -r $FOLDERLIN $FOLDERFULL
        mv $FOLDERWIN $FOLDERFULL
        zip -m -9 -X -r $FOLDERWIN $FOLDERFULL
        mv $FOLDERMAC $FOLDERFULL
        zip -m -9 -X -r $FOLDERMAC $FOLDERFULL
        mv $FOLDERARM $FOLDERFULL
        zip -m -9 -X -r $FOLDERARM $FOLDERFULL
    - name: Upload Asset (Full)
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ format('dist/PhantomBot-{0}.zip', steps.build_env.outputs.version) }}
        asset_name: ${{ format('PhantomBot-{0}.zip', steps.build_env.outputs.version) }}
        asset_content_type: application/zip
    - name: Upload Asset (Linux)
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ format('dist/PhantomBot-{0}-lin.zip', steps.build_env.outputs.version) }}
        asset_name: ${{ format('PhantomBot-{0}-lin.zip', steps.build_env.outputs.version) }}
        asset_content_type: application/zip
    - name: Upload Asset (Windows)
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ format('dist/PhantomBot-{0}-win.zip', steps.build_env.outputs.version) }}
        asset_name: ${{ format('PhantomBot-{0}-win.zip', steps.build_env.outputs.version) }}
        asset_content_type: application/zip
    - name: Upload Asset (macOS)
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ format('dist/PhantomBot-{0}-mac.zip', steps.build_env.outputs.version) }}
        asset_name: ${{ format('PhantomBot-{0}-mac.zip', steps.build_env.outputs.version) }}
        asset_content_type: application/zip
    - name: Upload Asset (ARM)
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ format('dist/PhantomBot-{0}-arm.zip', steps.build_env.outputs.version) }}
        asset_name: ${{ format('PhantomBot-{0}-arm.zip', steps.build_env.outputs.version) }}
        asset_content_type: application/zip
